.menu {
    background: #000000;
    padding-bottom: 100px;
}

.menu ul {
    display: block;
}

.menu li {
    padding: 10px 12px;
    cursor: pointer;
    color: #d2d2d2;
}

.menu ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

.menu ul li.active{ background-color: #000; }


.menu ul li:hover {
    background-color: #0178AB;
    color: black;
    cursor: pointer;
}

.menu .title {
    color: white;
}

.menu .title, .menu li.title {
    background-color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 12px;
    cursor: default;
}

.wrapper-table {
    margin: 0 150px;
}

table {
    border-collapse: collapse;
    width: 70%;
    float:right;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:first-child {
    font-weight: bold
}

tr:hover {
    background-color:#f5f5f5;
}