<div class="sidebar-wrapper">
  <loading></loading>
  <div class="menu">
    <character-list character-films="character.characterFilms(films)"></character-list>
  </div>
</div>
<div ng-if="character.listFilms">
  <character-detail data="character.listFilms"></character-detail>
</div>