<div class="row title no-margin">
  <div class="box title">List of Charaters</div>
</div>
<ul>
  <character-item ng-repeat="item in characterCtrl.listCharacters.results" data="item" character-films="characterCtrl.characterFilms(item)"></character-item>
</ul>
<div class='btn-group'>
  <button type='button' class='btn btn-default' ng-disabled='characterCtrl.currentPage == 0' ng-click='characterCtrl.setPage(characterCtrl.currentPage)'>&laquo;</button>
  <button type='button' class='btn btn-default' ng-disabled='characterCtrl.currentPage == page.no - 1' ng-click='characterCtrl.setPage(page.no)' ng-repeat='page in characterCtrl.pages'>{{page.no}}</button>
  <button type='button' class='btn btn-default' ng-disabled='characterCtrl.currentPage >= characterCtrl.listCharacters.count/characterCtrl.pageSize - 1' , ng-click='characterCtrl.setPage(characterCtrl.currentPage + 2)'>&raquo;</button>
</div>