<div>
  <h3>List of Films</h3>
</div>
<div class="wrapper-table">
  <table>
    <tr><td>Name</td></tr>
    <tr ng-repeat="film in detailCtrl.filmsByCharacters">
      <td>{{film.data.title}}</td>
    </tr>
  </table>
</div>