<div id="screenLocker" class="lock-screen-container" ng-if="lockedScreen.isLoading">
  <div class="lock-screen-item lock-screen-item--top"></div>
  <div class="lock-screen-item center-content">
    <div class="loading-spinner loader">
      <div id="circularG">
        <div id="circularG_1" class="circularG"></div>
        <div id="circularG_2" class="circularG"></div>
        <div id="circularG_3" class="circularG"></div>
        <div id="circularG_4" class="circularG"></div>
        <div id="circularG_5" class="circularG"></div>
        <div id="circularG_6" class="circularG"></div>
        <div id="circularG_7" class="circularG"></div>
        <div id="circularG_8" class="circularG"></div>
      </div>
    </div>
  </div>
  <div class="lock-screen-item lock-screen-item--bottom"></div>
</div>
