.footer-container {
  width: 100%;
  box-sizing: border-box;
  color: #797979;
  border-top: 1px solid black;
  background-color: #D6D6D6;
  padding: 10px 15px 30px 15px;
}

.footer-container .links {
  float: right;
}