.app-header {
  padding-top: 12px;
  height: 32px;
  background-color: #333e48;
  padding-right: 15px;
  box-sizing: content-box;
}

.header-title {
  font: bold 28px arial, sans-serif;
  color: white;
  text-align: center;
}