.sidebar-wrapper {
  background-color: #000000;
  width: 30%;
  box-sizing: border-box;
  color: #797979;
  border-top: 1px solid black;
  padding: 10px 15px 30px 15px;
  float: left;
}

.sidebar {
  padding: 12px 16px;
}

.sidebar .tip-box {
  display: inline-block;
  position: relative;
  background: white;
  padding: 15px;
  font-size: 12px;
}

.sidebar .tip-box h3 {
  font-size: 16px;
  color: #bb1900;
}